body {
    background-color: white
    box-sizing: border-box;
    margin: 0;
  }
 h1 {
    color: black;
  }
  p {
    color: purple;
    font-size: 30px;
    font-style: italic;
  }
  
.menu {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background: white;
}


  #home, #about, #contact {
    min-height: 100vh;
    padding-top: 50px;
  }
  
  #home {
   background-color: rgb(255, 232, 236);
  }

  #about {
    background-color: rgb(224, 174, 183);
    display:flex;
  }
  #about .right {
    flex-grow: 3;
}
#about .right img {
    width: 100%;
}
#about .left{
    flex-grow: 3;
}
  #contact {
   background-color: rgb(211, 140, 151); 
  }